{{> header }}

<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>

    <div class="col">
      <div class="form-control">
        <h2>{{title}}</h2>
        {{#if errormsg}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{errormsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <form method="POST" action="/login">
          <div class="form-group">
            <label for="username">pseudoname</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
          </div>
          <div class="form-group">
            <label for="eventname">Event Name</label>
            <input type="text" class="form-control" name="eventname" placeholder="Enter Eventname">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="col">
    </div>
  </div>
</div>

{{> footer-end }}
